<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <a href="/me/stored/courses">Danh sach khoa hoc</a>
    <h2>Khoa hoc da xoa</h2>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkboxAll">
            <label class="form-check-label" for="checkboxAll">
                Chon tat ca
            </label>
        </div>
        <select class="form-select form-select-sm checkbox-select-all-options " aria-label="Default select example"
            name="action" required>
            <option value="" selected>--Hanh dong--</option>
            <option value="DeleteMany">Xoa Vinh Vien</option>
            <option value="Restore">Khoi phuc</option>
        </select>

        <button class="btn btn-primary btn-checkAllSubmit btn-sm disabled">Ap dung</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name
                    {{{sortable 'name' _sort}}}
                </th>

                <th scope="col">Trinh do
                    {{{sortable 'level' _sort}}}
                </th>
                <th scope="col">Thoi gian xoa
                    {{{sortable 'deletedAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseID[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khoi phuc</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal">Xoa vinh vien</a>
                </td>
                {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thung rac trong
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>

    <div id="delete-course-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xoa khoa hoc ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Dell lay lai duoc dau em</p>
                </div>
                <div class="modal-footer">
                    <button id="btnDeleteCourse" type="button" class="btn btn-danger">Xoa vinh vien</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var courseID
            var deleteForm = document.forms['deleteCourseForm']
            var restoreForm = document.forms['restoreCourseForm']
            var btnDeleteCourse = document.getElementById('btnDeleteCourse')
            var restoreBtn = $('.btn-restore')
            var checkboxAll = $('#checkboxAll')
            var btnCheckAll = $('.btn-checkAllSubmit')
            var containerForm = document.forms['container-form']
            var courseItemCheckbox = $('input[name="courseID[]"]')

            $('#delete-course-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                courseID = button.data('id')
            })

            btnDeleteCourse.onclick = function () {
                deleteForm.action = '/courses/' + courseID + '/force?_method=DELETE'
                deleteForm.submit()
            }

            restoreBtn.click(function (e) {
                e.preventDefault()
                var courseID = $(this).data('id')
                restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH'
                restoreForm.submit()
            })

            checkboxAll.change(function () {
                var isCheckedAll = $(this).prop('checked')
                courseItemCheckbox.prop('checked', isCheckedAll)
                renderCheckAllSubmitBtn()
            })
            //
            courseItemCheckbox.change(function () {
                var isCheckedAll = courseItemCheckbox.length === $('input[name="courseID[]"]:checked').length
                checkboxAll.prop('checked', isCheckedAll)
                renderCheckAllSubmitBtn()
            })

            btnCheckAll.on('submit', function (e) {
                var isSubmitable = !$(this).hasClass('disabled')
                if (!isSubmitable) {
                    e.preventDefault()
                }
            })

            function renderCheckAllSubmitBtn() {
                var checkedCount = $('input[name="courseID[]"]:checked').length
                if (checkedCount > 0) {
                    btnCheckAll.removeClass('disabled')
                } else {
                    btnCheckAll.addClass('disabled')
                }
            }
        })
    </script>
</form>

<form name="deleteCourseForm" method="POST"></form>
<form name="restoreCourseForm" method="POST"></form>